<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件渲染</title>
    <script src="./vue.js"></script>
</head>
<body>
    <!--如果东西变化频率很高，使用v-show;如果页面变化频率很低，使用v-if
    v-if元素不一定能获取到，v-show一定能获取到
    -->
    <div class="root" v-if="true">
        <!-- <h2>{{name}}</h2>
        <h2>当前的n值为{{n}}</h2>
        <button @click="n++">点击n+1</button>
        <div v-if="n===1">a</div>
        <div v-else-if="n===2">b</div>
        <div v-else-if="n===3">c</div>
        <div v-else>d</div> -->
        <!--template只能配合v-if一起使用-->
        <template v-if="true">
            <h2>a</h2>
            <h2>b</h2>
            <h2>c</h2>
        </template>
    </div>

</body>
<script>
    new Vue({
        el:".root",
        data:function(){
            return{
                name:"欢迎来到vis",
                n:0
            }
        },
    })
</script>
</html>